<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 타입 별칭 설정============================  -->
	<typeAliases>
		<typeAlias type="com.user.domain.UserVO" alias="User"/>
		<typeAlias type="com.yaksok.domain.YaksokVO" alias="Yaksok"/>
		
		<typeAlias type="com.yaksok.domain.YaksokInfoVO" alias="YaksokInfo"/>
		<typeAlias type="com.yaksok.domain.YaksokCalendarVO" alias="YaksokCalendar"/>
		<typeAlias type="com.yaksok.domain.YaksokReserveVO" alias="YaksokReserve"/>
		<typeAlias type="com.yaksok.domain.YaksokOnOffVO" alias="YaksokOnOff"/>
		
		
	</typeAliases>

	<!-- 매퍼 정의================================ -->
	<mappers>
		<!-- 유저 페이지 -->
		<mapper resource="config/mybatis/mapper/UserMapper.xml"/>
		
		<!-- 약속 생성 페이지 -->
		<mapper resource="config/mybatis/mapper/YaksokMapper.xml"/>
		
		<!-- 약속 메뉴 페이지 -->
		<mapper resource="config/mybatis/mapper/YaksokThemeMapper.xml"/>
		<mapper resource="config/mybatis/mapper/YaksokCalendarMapper.xml"/>
		<mapper resource="config/mybatis/mapper/YaksokReserveListMapper.xml"/>
		<mapper resource="config/mybatis/mapper/YaksokStatisticsMapper.xml"/>
		<mapper resource="config/mybatis/mapper/YaksokSettingMapper.xml"/>
		
		<!-- 예약하기 페이지 -->
		<mapper resource="config/mybatis/mapper/YaksokReserveMapper.xml"/>
		
		<!-- 관리자 페이지 -->
		<mapper resource="config/mybatis/mapper/AdminMapper.xml"/>
	</mappers>
</configuration>